# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/Lib/site-packages/
.venv/Lib/**/site-packages/
.venv/**/__pycache__/

# Dependency manifests (keep repo independent)
requirements.txt

# Flask
instance/
.flaskenv

# Node
node_modules/
dist/
build/

# Databases
*.sqlite
*.sqlite3
*.db
